/*

Author: GreenRocket
Version: 1.0.0

*/

@import url('https://fonts.googleapis.com/css?family=Courgette|Gentium+Book+Basic');
/*@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:400,600');*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}



/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #515151;
	font-family: "Meiryo", "YuGothic", sans-serif;
	font-size: 16px;
	font-size: 1.05rem;
	line-height: 1.6;
}

/*.form-control:focus {*/
/*	border-color: rgba(0, 0, 0, 0.65);*/
/*    outline: none;*/
/*    box-shadow: 0 0 0 0.17rem rgba(0, 0, 0, 0.65) !important;*/
/*}*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.form-control {
	border-radius: 0 !important;
    //border: 1px solid #bfbfbf;
}

textarea {
	width: 100%;
}

button {
	cursor: pointer;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #313131;
	text-decoration: none;
	-webkit-transition: none !important;
    transition: none !important;
}
a:hover {
	opacity: 0.7;
    color: #888;
/*    color: #805b5b;*/
}

a:visited {
	//color: purple;
}

a:hover, a:focus, a:active {
	//color: midnightblue;
}

a:focus {
	outline: 0;
}

a:hover, a:active {
	outline: 0;
}

a.btn-custom:hover,
button.btn-custom:hover {
	color: #fff;
	opacity: 0.7;
}
button.btn:hover {
	opacity: 0.7;
}

input[type=checkbox] {
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.big-check input[type=checkbox] {
  	//transform: scale(1.02, 1.02);
  	margin-right: 0.2em;
}
.big-check {
	font-size: 1.1em;
	font-weight: bold;
}

.alert-danger {
	background: #fce9e8;
}
.text-danger {
	color: #de4c45 !important;
}
.border-danger {
	border-color: #e8dad8;
}

/* bg color */
body {
	background: #fefffe;
}
.site-header {
	background: #fefffe;
}
.fixed-top {
	background: #fdfcfc;
}
.main-navigation {
	background: #fdfcfc;
}

/*max-width ==================== */
body {
	min-width: 1200px !important;
	padding: 0;
    //border: 1px solid red;
}

.container,
.fixed-top {
	max-width: 100% !important;
	//border: 1px solid green;
}
.top-cont {
	min-height: 700px;
}

.site-description p,
.head-first,
.head-second,
.wrap-all,
.site-content,
.foot-wrap {
	width: 1200px;
	margin: auto;
	//border: 1px solid red;
}
/* max width END ========================= */

.home,
.archive,
.fix-page {
	float: right;
    width: 80%;
    //border: 1px solid red;
}
#left-bar {
	float: left;
    width: 18%;
    //border: 1px solid orange;
}


.table-custom th,
.table-cart th {
	background: #3a3b3c;
	color: #fff;
	font-size: 0.95em;
    //position: relative;
}
.table-custom th:after {
	display: block;
	clear: both;
	content: "";
	height: 0;
}
.table-custom th em {
	font-size: 0.9em;
	line-height: 0.9em;
	font-style: normal;
	background: salmon;
	color: #fff;
	padding: 0.3em 0.2em;
	float: right;
}
.table-custom th small {
	display: block;
}
.btn-custom {
	background: #3a3b3c;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}
.text-big {
	font-size: 1.1em;
}
.text-small {
	font-size: 0.9em;
}
.bg-gray {
	background: #8f8f8f;
}
.text-brown {
	color: sienna;
}


/* Shop ******* */
#guide {
	margin: 1em 0 3em;
}
#guide br {
	display: none;
}
#guide > div {
	width: 25%;
	color: #cfcfcf;
	font-size: 1.1em;
}
#guide .active-page {
	color: #333;
}
#guide > div div {
	background: #cfcfcf;
	height: 5px;
    width: 100%;
    margin-bottom: 0.3em;
}
#guide .active-page div {
	background: #333;
}

.table-custom .table tbody th {
	width: 27%;
}
.confirm .table-custom .table tbody th {
	width: 30%;
    font-size: 0.9em;
}
.confirm .table-custom.show-price .table tbody th {
	width: 53%;
}
.table-cart .table {
	width: 99.7%;
}
.table-cart .table td img.img-fluid {
	float: left;
    display: block;
    margin-right: 1em;
    //border: 1px solid red;
}

.cart-btn-wrap > div:first-of-type{ /* カゴページの購入するボタンのwrap */
	float: right;
    width: auto;
    //border: 1px solid red;
}
.cart-btn-wrap > div:first-of-type > .btn-custom { /* login後の購入手続きへボタン */
    width: 22em;
}
.cart-btn-wrap > div:last-of-type{
	float: left;
    width: auto;
    //border: 1px solid red;
}




.no-img {
    display: block;
    width: 100%;
    height: 550px;
    line-height: 550px;
    text-align: center;
    background: #FCFCFB;
    border: 1px solid #dfdfdf;
    color: #aaa;
    font-size: 0.9em;
}

/*.thumb-prev .no-img {*/
/*    width: 100%;*/
/*    height: 160px;*/
/*    line-height: 160px;*/
/*}*/


/* header */

.fixed-top {
    border-bottom: 1px solid #d8d8d8;
}
.site-description {
	font-size: 0.95em;
	background: #3a3b3c/*#2a2a2a*/;
	margin: 0;
	padding: 0.2em 0;
	//border-bottom: 1px solid #dedfdf/*#abacad*/;
	color: #fff;
}
.site-description p {
	margin: 0 auto;
    padding: 0 0 0 1em;
}

.head-first {
	padding: 0.2em 1.2em 0.2em 1em;
}
.site-header {
	//background: #fefffe;
	//border-top: 12px solid #2a2a2a;
	padding: 0;
	//border: 1px solid blue;
}
.site-header h1 {
	padding: 0;
	margin: 0;
}
.site-header h1 img:first-of-type {
	width: 240px;
}
.site-header h1 img:last-of-type {
	width: 55px;
    margin-left: -5px;
}
.site-header h1 a:hover {
	text-decoration: none;
}
.site-header .aniv {
	display: inline-block;
	font-family: 'Gentium Book Basic', serif;
/*	font-family: 'Cormorant Infant', serif;*/
    color: #C15360;
    font-weight: 400;
    font-size: 1.7em;
    font-style: italic;
    margin-left: 0.5em;
    padding-top: 0.2em;
    //border: 1px solid red;
}

.head-navi {
	float: right;
    margin-top: 0.8em;
/*	position: absolute;*/
/*	top: 2.8em;*/
/*	right: 1.7em;*/
    padding-left: 0.3em;
	//border: 1px solid green;
}
.head-navi ul {
	padding: 0;
    margin: 0;
}
.head-navi li {
	list-style: none;
	float: left;
	margin-right: 1.7em;
	font-size: 1.0em;
}
.head-navi li:first-of-type a {
	display: block;
	border: 1px solid #2a2a2a;
    border-radius: 0.2em;
    padding: 0.3em 1.2em;
    margin-top: -3px;
    font-size: 0.9em;
    font-weight: bold;
}
.head-navi li:first-of-type a:hover {
	color: #999;
    border-color: #aaa;
	text-decoration: none;   
}
.head-navi li .fas {
	font-size: 1.5em;
}
.head-navi li:last-of-type {
	margin-top: 1px;
    margin-right: 0;
}
.head-navi li a,
.head-navi li span {
	color: #333;
}
.head-navi li span:hover {
	opacity: 0.7;
}

.head-second {
    padding: 0.4em 1em 0.6em;
    margin-top: 5.5em;
}
.head-second > p {
	text-align: center;
    color: #C15360;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 0.2em;
}


.head-second address {
	margin: 0;
    padding: 0;
    //border: 1px solid orange;
}
.head-second address p {
	margin: 0;
    padding: 0;
    font-size: 0.9em;
}
.head-second address ul {
	padding: 0;
    margin: 0;
}
.head-second address ul li {
	float: left;
    font-size: 1em;
}
.head-second address ul li:first-of-type {
	margin-right: 1.1em;
	font-weight: bold;
}
.head-second address .fas {
	font-weight: normal;
}
.head-second address .far {
	font-size: 1.2em;
    vertical-align: -2px;
}
.s-form {
	margin-top: 0.4em;
}
.s-form input.form-control {
    background: #fff;
    font-size: 1.0em;
    border: 1px solid #d8d8d8;
    width: 21em;
    display: inline-block;
    padding: 0.2em 0.8em;
}
.s-form input.form-control:focus {
    //background: #3a3a3a;
    border: 1px solid #80bdff;
    //color: #fff;
    //border: none;
    //box-shadow: none;
}
.btn-s {
    //background: #50BFC2;
    //padding: 0.4em 0.7em 0.4em;
/*    position: relative;*/
/*    z-index: 10;*/
/*    border-radius: 0;*/
    //border: 1px solid #A1DBDD;
    color: #b5b5b5;
    cursor: pointer;
    margin-left: -1.8em;
}
.s-form .form-control::placeholder {
	color: #4a4a4a;
}
.s-form .form-control:placeholder-shown {
    color: #4a4a4a;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
.s-form .form-control::-webkit-input-placeholder {
    color: #4a4a4a;
}

/* Firefox 18- */
.s-form .form-control:-moz-placeholder {
    color: #4a4a4a;
    opacity: 1;
}

/* Firefox 19+ */
.s-form .form-control::-moz-placeholder {
    color: #4a4a4a;
    opacity: 1;
}

/* IE 10+ */
.s-form .form-control:-ms-input-placeholder {
    color: #4a4a4a;
}



.head-wrap > img {
	position: absolute;
	left: 46.2%;
	width: 120px;
}

.comp-info {
	width: 16%;
	float: right; 
	text-align: left;
	font-family: 'Cuprum', sans-serif;
	//border: 1px solid red;
}
.comp-info div {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.5em;
}
.comp-info .fab {
	font-size: 2.4em;
	color: #cdcbcb;
	margin: 0.2em 0.1em 0 0;
}



/*- ## Menus -*/
.main-navigation {
	clear: both;
	display: block;
	float: none;
	width: 100%;
/*    border: 1px solid #d8d8d8;*/
/*    border-width: 1px 0 0;*/
	//margin-top: 7.8em;
    /*background: #FDFBFC;*//*#ececec*/
/*	background: #eae8e8;*/
}

.main-navi > ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
    height: 2.9em;
    position: relative;
}
.main-navi > ul:after {
	display: block;
	clear: both;
	content: "";
	height: 0;
}
.main-navi > ul > li {
    float: left;
    margin: 0;
    padding: 0;
    width: calc(100% / 7);
    height: 100%;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-width: 1px 1px 1px 0;
    //border-right: 1px solid #d8d8d8;    
}
.main-navi > ul > li:hover {
	background: #53575A/*#faf9fa*/;
    border-color: #53575A;
}
.main-navi > ul > li > a {
	display: inline-block;
    padding: 0.1em 0.1em;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 2.8em;
    color: #5a5a5a;
}
.main-navi > ul > li:hover > a {
	opacity: 1;
	color: #fff;
    text-decoration: none;
}

.main-navi > ul >li > span > a {
	display: block;
    width: 100%;
    height: 100%;
    
}
.main-navi > ul > li:last-of-type {
	border-right: 0/* 1px solid #d8d8d8*/;
}
.main-navi > ul > li.nav-active {
	background: #faf9fa/*#fdfcfd*/;
}
/*.main-navi > ul >li > a {*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    text-decoration: none;*/
/*    //border: 1px solid red;*/
/*}*/

.drops {
	display: none;
    position:absolute;
    background: #faf9fa;
    border-bottom: 1px solid #cfcfcf;
    padding: 1.7em 1.8em 1.3em;
    width: 100%;
    min-height: 21em;
    left: 0;
    top: 2.9em;
    z-index: 999;
}
.drops h3 {
	font-size: 1.2em;
}
.drops h3 a {
	
}
.drops > div:first-of-type h3 {
	border-bottom: 1px solid #5a5a5a;
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
    //font-weight: bold;
    font-size: 1.05em;
}

.drops > div:first-of-type {
	width: 50%;
	//border: 1px solid red;
    text-align: left;
}
.drops > div:first-of-type p {
	font-size: 0.9em;
}
.drops > div:first-of-type div {
	width: 40%;
    margin-right: 2em;
}
.drops > div:first-of-type ul {
	width: 53%;
    padding: 0;
    margin: 0;
    //border: 1px solid blue;
}

.drops > div:last-of-type {
	width: 48%;
    text-align: left;
}
.drops > div:last-of-type > div {
	width: 150px;
    font-size: 0.9em;
    line-height: 1.3em;
    margin-right: 1em;
    //border: 1px solid blue;
}
.drops > div:last-of-type img {
	width: 100%;
    height: 180px;
    margin-bottom: 0.2em;
}

.menu-title {
	display: none;
}


/* Top */
.wrap-all {
	padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    //border: 1px solid red;
}
.wrap-all:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.wrap-all .home {
	margin-top: 0.8em;
}

.site-content {
	margin-top: 0;
	min-height: 1000px;
}

.search-wrap {
	margin: 0.8em 0 2em;
	text-align: right;
}

/* Bread */
.breadcrumb {
	//display: none;
	background: none;
    margin: -1em 0 0.5em;
    padding-left: 0;
    //border: 1px solid red;
}
.single .breadcrumb {
	margin-bottom: 1.2em;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}
.breadcrumb-item.active {
  color: #838383;
}



/* Article */
.card-header {
	font-weight: bold;
    font-size: 1.6em;
    background: none;
    border-bottom: 1px solid #222;
    padding-left: 0.3em;
    padding-bottom: 0.2em;
}
.wrap-atcl {
	margin-bottom: 4.5em;
}
.wrap-atcl .btn-custom { /*もっと見る */
	font-weight: bold;
    margin-top: 1.5em;
}
.wrap-atcl a.btn-custom:hover {
	background: #3a3b3c !important;
    color: #fff !important;
    opacity: 1;
}

.main-atcl { /* 3つ並び */
	float: left;
	width: 32.0%;
	margin-right: 1.8%;	
	margin-bottom: 1.5em;
	//min-height: 23em;
    //border: 1px solid orange;
}
.top-first .main-atcl,
.archive .main-atcl {
	position: relative;
	width: 24.1%;
    //min-height: 30em;
    margin-right: 1.2%;
    margin-bottom: 1.5em;
	//border: 1px solid red;
}
.top-second .main-atcl {
	width: 49%;
    margin-right: 1.8%;
}
.img-box { /* Single ->.single .carousel-item  */
	width: 100%;
    height: 264px;
    overflow: hidden;
}
.img-box img {
	width: 100%;
    border-radius: 0;
}
.top .img-box,
.archive .img-box {
    height: 276px;
    //border: 1px solid #bbb;
}
.top-second .img-box {
	width: 40%;
	height: 226px;
    float: left;
}
.floar .img-box { /* Single 小img Recent Check */
	height: 167px;
}
.single-recom .floar .img-box { /* Single 3つ並び小img */
	height: 220px;
    //border: 1px solid #333;
}
.potset .img-box {
	height: 125px;
    //border: 1px solid red;
}






/*.main-atcl:nth-of-type(3n) {*/
/*	margin-right: 0;*/
/*}*/
/*.top-first .main-atcl:nth-of-type(3n) {*/
/*	margin-right: 1.2%;*/
/*}*/
.top-first .main-atcl:nth-of-type(4n), 
.archive .main-atcl:nth-of-type(4n) {
	margin-right: 0;
}
.top-second .main-atcl:nth-of-type(2n) {
	margin-right: 0;
}
.main-atcl:nth-of-type(3n+2) {
/*    margin-left: 1.5%;*/
/*    margin-right: 1.5%;*/
}



.head-atcl h2 {
	//font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 0.5em;
    padding: 0 0 0.2em 0.2em;
	border-bottom: 1px solid #222;
	//text-align: center;
}

.main-atcl h3 {
	font-size: 1.05em;
	font-weight: normal;
    line-height: 1.4em;
	margin: 0.2em 0 0.2em;
	padding: 0;
    //border: 1px solid red;
}

.top .main-atcl > span {
	position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 0.9em;
    padding: 0 0.3em 0 0.4em;
    z-index: 99;
}
.top .main-atcl > span.top-new {
	background: #C9353F;
    color: #fff;
}
.top .main-atcl > span.top-rank .fas {
	color: #FBED0C;
    font-size: 2.2em;
    margin-top: 2px;
}
.top .main-atcl > span.top-rank em {
	font-size: 1.0em;
    font-style: normal;
    position: absolute;
    top: 9px;
    left: 42%;
    font-weight: bold;
    color: #000;
}



.main-atcl .meta,
.main-atcl .meta p a,
.floar .meta,
.floar .meta p a {
	color: #6a6a6a;
}
.main-atcl .meta p {
	font-size: 0.9em;
    margin: 0 0 0.3em;
    padding: 0;
}
.main-atcl .meta .tags {
	font-size: 0.85em;
    margin: 0;
    //border: 1px solid red;
}
.main-atcl .meta .price {
	//font-size: 1.0em;
    text-align: right;
	margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: bold;
    //border: 1px solid red;
}

.main-atcl .meta .price span {
	font-size: 1.25em;
}
/*.main-atcl img {*/
/*	width: 100%;*/
/*	border-radius: 0;*/
/*}*/
.main-atcl .shop-link {
	text-align: right;
	margin-top: 0.4em;
}
.main-atcl .shop-link a {
    margin-right: 0.2em;
    background: #fff;
    border: 1px solid #9a9a9a;
    border-radius: 3px;
    padding: 0.5em 1.7em;
    color: #3a3a3a;
}
.main-atcl .shop-link a .fas {
	margin-left: 0.5em;
}


.top-second .meta {
	width: 58%;
    float: right;
    //border: 1px solid red;
}


.main-atcl .detail-link {
	border: 2px solid turquoise;
	//background: lightgreen;
	border-radius: 3px;
	text-align: center;
	margin-top: 0.2em;
	cursor: pointer;
}
.main-atcl .detail {
	display: none;
	position: absolute;
	//top: 25%;
	left: -10%;
	background: ivory;
	border: 2px solid #000;
	width: 120%;
	padding: 1em;
	border-radius: 0.5em;
	z-index: 999;
}
.detail h3 {
	margin: 1em 0 0;
	padding: 0;
}


/* Favorite */
.favorite {
	position: relative;
    //border: 1px solid red;
}
.fav,
.fav-temp {
	height: 1.7em;
    line-height: 0;
	width: 1.7em;
	font-size: 1.3em;
	color: #888;
    vertical-align: middle;
    cursor: pointer;
}
.single .fav,
.single .fav-temp {
	height: 2.2em;
	width: 2.2em;
	font-size: 1.8em;
}
.fav-temp {
	cursor: default;
}
.fav-on {
	
}
.fav-off {
	color: #C15360/*salmon*/;
	display: none;
}
.fav-str {
	font-size: 0.9em;
	padding-left: 0.3em;
	position: relative;
	//border: 1px solid red;
}
.single .fav-str {
	padding-left: 0.9em;
}

.loader {
	font-size: 0.75em;
	display: none;
	color: #777;
    position: absolute;
    top: -1.5px;
    left: 0;
}
.single .loader {
	left: -1.7px;
}
.loader .fas {
	-webkit-animation: rt 0.8s infinite linear alternate;
    animation: rt 0.8s infinite linear alternate;
}
@keyframes rt {
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

/* Archive */

/* Sidebar */
#left-bar {
	margin-top: 0.7em;
}
#left-bar .panel-body > div {
	margin-bottom: 3em;
}
#left-bar h5 {
	border-bottom: 1px solid #cacaca;
    font-size: 0.95em;
    font-weight: bold;
    padding: 0.3em 0.2em;
    //background: #ececec;
/*    background: #eae8e8;*/
    color: #4a4a4a;
}
#left-bar h5 a {
	color: #4a4a4a;
    text-decoration: none;
}

.no-list {
	list-style: none;
    padding: 0;
    margin: 0;
}
.no-list li {
	margin-bottom: 1em;
    font-size: 0.95em;
}
.no-list ul li {
	margin-bottom: 0.1em;
}

/* Tag */
ul.side-rank {
	list-style: none;
    font-size: 0.95em;
}
.side-rank li {
	margin-bottom: 1.4em;
}
.side-rank a {
	display: block;
    float: left;
    width: 85%;
    margin-left: 0.2em;
    margin-top: 0;
    line-height: 1.3em;
}
.side-rank span[class*="rank-"] {
	display: block;
    float: left;
    font-size: 1em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    border-radius: 50%;
	background: none;
    border: 1px solid #888;
    //vertical-align: 1em;
}
.side-rank span.rank-1,
.side-rank span.rank-2,
.side-rank span.rank-3 {
    font-size: 1em;
    //color: #fff;
    //border: none;
    line-height: 1.3em;
}
.side-rank span.rank-1 {
/*	background: goldenrod;*/
	background: #fff;
}
.side-rank span.rank-2 {
/*	background: silver;*/
	background: #fff;
}
.side-rank span.rank-3 {
/*	background: burlywood;*/
	background: #fff;
}
.rank-tag {
	display: inline-block;
	background: #fff;/*#F7EBE4*/
    padding: 0.2em 0.5em;
    margin-bottom: 0.4em;
	border-radius: 0.3em;
    border: 1px solid #999/*#E2D2C8*/;
    cursor: pointer;
    font-size: 0.9em;
}
.main-navigation .rank-tag {
	background: mintcream/*#F7EBE4*/;/*#F7F1E4*/
}

.rank-tag:hover {
	opacity: 0.7;
}
.rank-tag a {
	color: #4a4a4a !important;
    text-decoration: none;
    
}
.rank-tag .fa {
	font-size: 0.85em;
	margin-right: 0.1em;
    color: #aaa;
}

.cate-list .fa {
	color: #bdbdbd/*#E6D6CB*/;
}


/* Single */
.single-left {
	float: left;
	width: 48.5%;
    //border: 1px solid red;
}
.single-right {
	float: right;
	width: 48.5%;
    //border: 1px solid orange;
}
.single-recom {
	float: left;
    width: 48.5%;
    //border: 1px solid green;
}


/* Single Carousel */
.single .carousel-item {
	height: 683px; /* 1:1.2 */
    overflow: hidden;
    //border: 1px solid #ddd;
}
.single .carousel-item img {
	width: 100%;
}
.single .carousel-indicators {
	width: 100%;
    left: 0;
    margin: 0;
    padding: 3px 0 0;
	//border: 1px solid red;
    display: block;
    position: static;
}
.single .carousel-indicators li {
	position: static;
    float: left;
	background: none;
    -ms-flex: none;
    flex: none;
    text-indent: 0;
    width: 20%;
    height: 129px;
    //margin-right: 0.5%;
    //margin-left: 0;
    margin: 0 0 3px 0 !important;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
    //box-sizing: content-box;
}
.single .carousel-indicators li:nth-of-type(5n) {
	margin-right: 0;
}
.single .carousel-indicators li img {
	height: 121px;
    overflow: hidden;
}

/* Top Carousel */
.tophead-wrap .carousel-indicators {
	position: static;
    height: auto;
    margin: 3px 0 0;
    padding: 0;
	//border: 1px solid red;
}
.tophead-wrap .carousel-indicators li {
	position: static;
	width: 20% !important;
    height: auto !important;
    cursor: pointer;
    margin: 0;
    padding: 4px;
}



.carousel-indicators li img {
	display: block;
    width: 100%;
    height: auto;
    margin: auto;
}
.carousel-indicators li.active {
	background: #3f3f3f;
    //border: 4px solid #555;
    cursor: default;
}

.carousel-control-prev,
.carousel-control-next {
	width: 1.5em;
    opacity: 0.45;
    height: 1.5em;
    top: 40%;
    margin: 0;
    //border: 1px solid red;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	background: #000;
    font-size: 2.0em;
    line-height: 1.5em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}
.carousel-control-prev-icon .fa,
.carousel-control-next-icon .fa {
	color: #fff;
    opacity: 1;
    //font-size: 0.8em;
}



.single .head-frame h2 {
	font-weight: bold;
	font-size: 1.4em;
    line-height: 1.4em;
	//border-bottom: 1px solid #222;
	margin: 0.1em 0 0.7em;
    padding-bottom: 0em;
}
.single .head-frame h2 span {
	font-size: 0.8em;
}
.single .price-meta {
	font-size: 1.4em;
	font-weight: bold;
    text-align: right;
}

.single h4 {
	font-weight: normal;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #333;
}

.single .favorite {
	text-align: center;
}
.single .floar .favorite {
	display: none;
	text-align: left;
    font-size: 0.8em;
}
.single .form-wrap .btn-custom {
	font-size: 1.3em;
}
.single .form-wrap .btn-custom + p {
	font-size: 1.2em;
    margin-top: 0.5em;
    text-align: center;
    color: tomato;
}

.single .btn[type="submit"]:disabled {
	cursor: default;
    opacity: 0.25;
    //background: #aaa;
}
.single .btn[type="submit"]:disabled:hover {
	opacity: 0.25;
    //background: #aaa;
}

.slideDeli {
	width: 100%;
}
.slideDeli + .table-custom {
	display: none;
}
.potset {
	margin-bottom: 0.5em;
    padding-bottom: 0.5em;
	border-bottom: 1px dotted #ccc;
}
.potset h3 {
	font-size: 1.3em;
    margin: 0 0 0.1em;
    padding: 0;
    font-weight: bold;
}
.potset > div {
	float: left;
    padding: 0;
    margin: 0;
}
.potset > div:first-of-type { /* img-box */
	width: 18%;
    margin-right: 1.5%;
}
.potset > div:nth-of-type(2) {
	width: 78%;
    margin-right: 0;
    //border: 1px solid orange;
}

.potset .price-meta {
	font-size: 1.2em;
    margin-bottom: 0.1em;
}
.potSetSelect-wrap {
	width: 65%;
}
select.potSetSelect {
	width: 45%;
}



.floar ul {
	list-style: none;
    padding: 0;
    margin: 0;
}
.floar ul li {
    float: left;
    margin-right: 0.55%;
    width: 12%;
}
.single-recom .floar ul li {
	width: 32.5%;
    margin-right: 1.2%;
}

.floar ul li:last-of-type {
	margin-right: 0;
    //border: 1px solid red;
}
.floar li h3 {
	line-height: 1.2em;
    //font-weight: bold;
    font-size: 0.9em;
    margin: 0.3em 0 0;
}
.floar .meta {
    //border: 1px solid red;
}
.floar .meta p,
.floar .meta .price {
	font-size: 0.85em;
    margin: 0.1em 0 0;
}
.floar .meta .price {
	text-align: right;
    font-weight: bold;
    //color: #3a3b3b;
}
.floar .meta .tags {
	display: none;
}
.recent-check .floar .meta p,
.recent-check .floar .meta .price {
	display: none;
}

/* img-boxは上段へ(Line:740 辺) */
.floar li a:hover img {
	opacity: 0.7;
}


.tab-content {
    min-height: 600px;
}
.nav-tabs {
    padding: 0;
    margin: 0;
    border-bottom: 0;
    //border: 1px solid red;
}
.nav-item {
	width: calc(100% / 3);
    text-align: center;
    font-size: 0.95em;
    padding: 0;
    //border: 1px solid blue;
}
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover {
	background: none;
    color: #333;
    border: 1px solid #aaa;
    border-right: 0;
    border-radius: 0;
    padding: 0.5em 0;
    //margin-right: 1px;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:hover {
    background: #3a3b3c;
    color: #fff;
    border: 1px solid #3a3b3c;
    //font-weight: bold;
    border-bottom-color: none;
    cursor: default;
    opacity: 1;
/*        border-color: #333;*/
/*        border-width: 1px 1px 0;*/
}
.nav-tabs .nav-item:last-of-type .nav-link {
	border-right: 1px solid #aaa;
}





/* login */
.login {
	margin-top: 6em;
}
.login h4 {
	font-weight: bold;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #222;
}
.login label {
	font-weight: bold;
    font-size: 0.95em;
}
.login > div {
	width: 50%;
    float: left;
    min-height: 600px;
}
.login > div:last-of-type {
	padding-left: 1.4em;
}

/* Pagination */
.pagination-wrap {
	width: 100%;
    text-align: right;
}
.pagination-wrap:last-of-type {
	margin-top: 2.5em;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  border-radius: 0;
  font-size: 0.95em;
    width: auto;
    margin: 0 0 0.5em;
}
.pagination:after {
	display: block;
    clear: both;
    content: "";
    height: 0;
}
.pagination li {
	display: block;
    float: left;
    margin-right: 0.15em;
   	width: 1.9em;
    height: 1.9em;
    line-height: 1.9em;
    text-align: center;
    color: #222;
    background: #fff !important;
}

.pagination li:first-of-type,
.pagination li:last-of-type {
	background: #fff;
}
.pagination li.disabled span {
	//font-size: 1.2em;
}
.pagination li a {
	color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #3a3b3c;
    text-align: center;
}
.pagination li a:hover {
	text-decoration: none;
    background: #fff;
    color: #222;
}

.pagination li:first-of-type a,
.pagination li:last-of-type a {
	font-size: 1.1em;
    line-height: 1.6em;
}






.page-item.active .page-link {
  z-index: 2;
  color: #222;
  background-color: #fff;
  border-color: #aaa;
}

.page-item.disabled .page-link {
  color: #222;
  pointer-events: none;
  background-color: #fff;
  border-color: #aaa;
}

.page-link {
  position: relative;
  display: block;
  padding: 0;
  margin-left: 0;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #222;
	width: 1.9em;
    height: 1.9em;
    line-height: 1.9em;
    text-align: center;
}

.page-link:focus, .page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}


/* Fix */
.fix-page h3 {
	font-size: 1.6em;
	padding: 0 0 0.2em;
    margin-bottom: 0.4em;
    //padding-left: 0.3em;
	//border-left: 1.2em solid #aaa;
    border-bottom: 1px solid #aaa;
    //border-width: 0 0 1px 5px;
}
.fix-page h3:before {
	content: "■";
    color: #555;
    margin-right: 0.2em;
}
.fix-page h3.no-left {
	border: none;
}
.fix-page h3.no-left:before {
	content: none;
}

.fix-page section {
	margin: 2.5em 0 4em;
    //border: 1px solid red;
}
.fix-page section > div {
	margin: 2em 0 3.5em;
}
.fix-page section p {
	margin-left: 0.2em;
}
.fix-page section div.clearfix img {
	width: 33%;
    float: left;
}
.fix-page section div.clearfix p {
	width: 65%;
    float: left;
    margin-left: 1.5%;
}

.fix-page h4 .fas {
	color: #FD9940;
}
.fix-page h4 {
	border: 1px solid #bfbfbf/*#FD9940*/;
    border-width: 0 0 0 10px;
    background: #efefef;
    padding: 0.1em 0 0.1em 0.3em;
    //background: #FFF5EC;
    margin-bottom: 0.6em;
    //margin-left: 0.2em;
}
.fix-page ul.triangle,
.fix-page ol.triangle {
	margin-left: 0.5em;
}
.fix-page ul.triangle li,
.fix-page ol.triangle li {
	margin-bottom: 0.7em;
}
.fix-page h5 {
	font-weight: bold;
    font-size: 1.4em;
    margin-top: 1.2em;
}

/* FAQ */
div[id*="accordion-"] {
	margin-top: 1.5em !important;
}

/* アンカーリンクのfix分のずれを直す jsに入れたので不要 */
/*div[id*="accordion-"]:before {*/
/*	content: "";*/
/*	padding-top: 300px;*/
/*    margin-top: -300px;*/
/*    display: block;*/
/*}*/

div[id*="accordion-"] .card {
	margin: 0.4em 0;
}
div[id*="accordion-"] .card-header {
	border: 0;
    padding: 0;
    background: #F8F8F8;
    cursor: pointer;
}
div[id*="accordion-"] h5 {
	font-size: 0.65em;
    line-height: 1.4em;
    padding: 0.7em 0.5em;
    margin-top: 0;
    font-weight: normal;
}
div[id*="accordion-"] h5:before {
	content: "\f059"; /* ?マーク fontawsome*/
    font-weight: 900; /*白抜きの時にこの指定が必要 */
    font-family: "Font Awesome 5 Free";
    font-size: 1.1em;
    margin-right: 0.2em;
    color: darkseagreen;
}
div[id*="accordion-"] .card-header:hover {
	opacity: 0.7;
    text-decoration: none;
}


.faq-cate {
	margin-top: 0.7em;
    list-style: none;
}
.faq-cate li {
	float: left;
    margin: 0 2em 0.5em 0;
    padding: 0;
    cursor: pointer;
}
.faq-cate li:before {
    content: "\f101"; /* >> */
    font-family: "Font Awesome 5 Free";
    margin-right: 0.2em;
}
.faq-cate li:hover {
	opacity: 0.65;
    text-decoration: underline;
}



.transactions-law h3 {
	margin-top: 2em;
}

/* Contact */
.contact .cth {
	width: 27%;
}
.contact td p {
	min-height: 20em;
}


/* Footer */
#colop {
	background: #ececec;
/*	background: #eceaea;*/
	height: auto;
	padding: 1.7em 0 0;
	margin-top: 4em;
	border-top: 1px solid #cdcecf;
}
.foot-wrap {
	padding: 0 1em;
}
#colop > p {
	font-size: 0.8em;
	padding: 0.4em 0;
	margin: 2em 0 0;
	text-align: center;
	background: #3a3b3c;
	color: #fff;
}
.foot-menu {
    float: left;
    width: 53%;
}
.foot-menu ul {
	list-style: none;
    margin: 0;
    padding: 0;
    width: 48%;
    float: left;
}
.foot-menu h5 {
	font-weight: bold;
	font-size: 1.0em;
}

.foot-company {
	width: 31%;
	float: right;
	//border: 1px solid red;
}
.foot-logo img:first-of-type {
	width: 230px;
	margin-bottom: 1.6em;
}
.foot-logo img:last-of-type {
	width: 70px;
	vertical-align: -10px;
}

.foot-company address h5 {
	font-weight: bold;
	font-size: 1.0em;
	margin: -10px 0 0.7em 0.2em;
	padding: 0;
}
.foot-company address {
	margin-bottom: 1em;
}
.foot-company address .table {
	margin-left: 0.3em;
}
.foot-company address .table th,
.foot-company address .table td {
	padding: 0;
	margin: 0.2em 0;
    border: 0;
}
.foot-company address .table th {
	width: 26%;
    font-weight: normal;
    font-size: 0.95em;
	//border: 1px solid blue;
}


.foot-company address + p {
	font-size: 0.9em;
}


.top_btn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 2%;
    width: 2.7em;
    height: 2.6em;
    line-height: 2.3em;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background: rgba(0,0,0,0.6);
    border-radius: 0.3em;
    z-index: 9999;
}
.top_btn .fa {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #fff;
    vertical-align: middle;
}
.top_btn:hover {
    opacity: 0.6;
}



/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}


