/* 
for SP
*/


@import url('style.css');


@media only screen and (max-width: 1000px) {
	body {
    	min-width: 100% !important;
     	//background: red;
      	font-size: 85%;
        //border: 2px solid orange;     
    }
    
    .wrap-all,
	.fixed-top,	
	.site-content,
	#colop {
    	min-width: 100% !important;
        //border: 1px solid blue;
      	padding: 0;
    }
    
    .container {
    	padding: 0;
    }
    
    .site-header h1 {
        margin: 0.1em 0 0 0.4em;
    }
    .site-header h1 img {
        width: 200px;
    }
    .head-center {
        width: 70px;
        margin: auto;
    }
	.head-navi {
        top: 1.7em;
		right: 1.0em;
    }
	.s-form {
    	top: 2.4em;
    	right: 8%;
	}
    .s-form input {
    	font-size: 0.9em;
    }
    
    
    .main-navi > ul > li > span {
    	font-size: 0.75em;
        line-height: 3.2em;
    }
    
    .card-header {
    	font-size: 1.5em;
    }
    
    .img-box {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .top .img-box {
        height: 195px;
    }
    
    
    .carousel-item {
		height: 420px;
    }
    .single .head-frame h2 {
    	font-size: 1.4em;
    }
    
    #colop {
    	padding-top: 2em;
    }
    .foot-menu {
    	width: 48%;
        margin-left: 1.5%;
    }
    .foot-company {
        width: 47%;
        margin-right: 1%;
    }
    
}	

@media only screen and (max-width: 800px) { /* iPad */
	body {
    	//font-size: 13px;
    }
    
}

/* iPhone6+ LandScape/ 6 LandScape/ 5s LandScape(570px) */
@media only screen and (max-width: 750px) {
	
    body {
    	font-size: 0.9em;
    }
	.site-header {
		position: relative;
        padding: 0.5em 0.2em;
        border-bottom: 1px solid #bbb;
	}
	

	.site-header .logos {
  		width: 70%;
        margin: auto;
        padding: 0 0 0 0.2em;
    	//border: 1px solid red;          
	}
    .site-header h1 {
    	margin: 0;
        padding: 0;
        line-height: 0;
    }
    .site-header h1 a {
    	display: inline-block;
    }
    .site-header .logos h1 img:first-of-type {
		float: none;
  		width: 76%;
        margin-top: 0;
        margin-left: 0.2em;
    	//border: 1px solid red;          
	}
    .site-header .logos h1 img:last-of-type {
		float: none;
  		width: 17%;
        margin-top: 0;
        margin-left: -0.2em;
    	//border: 1px solid red;          
	}
    
    .s-form {
    	position: absolute;
        top: 11px;
        right: 1%;
        text-align: right;
        width: 70%;
        float: right;
        margin-right: 3%;
    }
    .s-form .fa {
    	font-size: 1.7em;
        color: #333;
    }
    
    /* ******** */
    #menuButton {
      display: block;
      width: 38px;
      height: 35px;
      float: left;
      margin: 0 0 0 3%;
      position: absolute;
      top: 11px;
      left: 1%;
      text-decoration: none;
      //border: 1px solid red;
    }
    #menuButton span {
      display: block;
      background: #333;
      width: 28px;
      height: 3px;
      position: absolute;
      left: 0;
/*      transition: all 0.4s;*/
/*      -webkit-transition: all 0.4s;*/
/*      -moz-transition: all 0.4s;*/
    }
    #menuButton em {
    	display: block;
    	font-style: normal;
        position: absolute;
        bottom: 3px;
        left: 2px;
        font-size: 0.8em;
    }
    #menuButton span:first-child {
    	top: 5px;
    }
    #menuButton span:nth-child(2) {
    	top: 14px;
    }
    #menuButton span:last-child {
    	top: 23px;
    }
    
    .table-custom .table {
    	table-layout: fixed;
    }
    .table-custom .table tbody th,
    .table-custom .table tbody td {
    	display: block;
    	float: none;
        width: 100%;
        //border: 1px solid red;
    } 
    .confirm .table-custom .table tbody th { /* shop confirm -> Price */
    	display: block;
		width: 100%;
    }
    .table-custom .table tbody th {
    	padding: 0.4em 0.6em 0;
        vertical-align: middle;
    }
    .table-custom .table select {
    	width: 85%;
        margin-bottom: 0.8em;
    }
    
    .table-cart .table {
        width: 100%;
        font-size: 0.9em;
        table-layout: fixed;
    }
    .table-cart .table td img.img-fluid {
        float: none;
        display: block;
        margin-right: 0;
    }
   	.table-cart .table thead th {
   		font-size: 0.9em;
   	}
   	.table-cart .table thead th:first-of-type {
    	width: 30% !important;
    }
    .table-cart .table thead th:nth-of-type(2) {
    	width: 25%;
    }
    .table-cart .table thead th:nth-of-type(3) {
    	width: 30%;
    }
    .table-cart .table thead th:nth-of-type(4) {
    	width: 25%;
    }
    .table-cart .btn {
    	font-size: 0.9em;
    }
    
    
    
    .login > div {
        width: 100%;
        float: none;
    }
    .login > div:last-of-type {
        padding-left: 0;
        margin-top: 2em;
    }
    
	div.tel-sp {
		display: block;
		float: right;
        width: 100%;
        margin: 0;
        padding: 0.4em 0;
        background: #333;
        color: #fff;   
        font-size: 1.4em;         
    }
    div.tel-sp a {
    	color: #fff;
    }
    
    .comp-info {
    	padding-left: 1em;
    }
    .comp-info div {
        display: none;
    }
    .comp-info .fab {
        font-size: 2.7em;
        margin: 0.2em 0.1em 0 0;
    }
    
    .site-description {
    	width: 100%;
     	background: none;  
      	border: none;     
     	//float: right;   
    }
    

    .main-navigation {
    	display: block;
        padding: 0;
        margin: 1em 0 0;
        background: #eceaea;
    }
    .main-navigation ul {
    	width: 100%;
        margin: 0 0 0 2em;
        padding: 0;
        border: none;
    }
    .main-navigation li {
    	float: none;
    	width: 100%;
    }
    .main-navigation a {
    	padding: 0;
    }
    ul.ask_menu,
    ul.fix_menu {
    	float: none;
        width: 100%;
        height: auto;
        
    }
    ul.ask_menu li,
	ul.fix_menu li,
	ul.cate_menu li {
		width: 100%;
  		text-align: left;
        
	}
    ul.cate_menu li:first-of-type a {
        border-left: none;   
    }
    .menu-title {
        display: block;
        border-bottom: 1px solid #aaa;
    }
	
    .wrap-all {
    	padding-left: 1.6%;
        padding-right: 1.5%;
        //border: 1px solid green;
    }
    
    .head-atcl h2 {
    	font-size: 1.3em;
        text-align: left;
        padding-left: 0.2em;
    }
    .main-atcl,
    .top .main-atcl {
		float: left;
  		width: 49%;
    	            
	}
    .main-atcl:nth-of-type(3n) {
        margin-right: 1.2%;
    }
    .top .main-atcl:nth-of-type(3n) {
        margin-right: 1.2%;
    }
    .top .main-atcl:nth-of-type(4n) {
        margin-right: 1.2%;
    }
    .main-atcl:nth-of-type(2n),
    .top .main-atcl:nth-of-type(2n) {
        margin-right: 0;
    }
    
    .wrap-atcl > a.btn {
        width: 100%;
    }
    
    
    .foot-menu {
    	float: none;
        width: 90%;
        margin: auto;
    }
    .foot-company {
    	float: none;
        width: 88%;
        margin: 10em auto 1em;
    }
	
}

@media only screen and (max-width: 500px) { /* Portlait: iPhone6+ /6/ 5s */



}
@media only screen and (max-width: 400px) { /* 6 */
	
}

@media only screen and (max-width: 320px) { /* 5s */
	body {
    	font-size: 11px;
    }
    .site-branding h1 img {
		width: 85%;
    }

}



