/* 
for SP
*/


@import url('style.css');


@media only screen and (max-width: 1000px) {
	body {
    	min-width: 100% !important;
     	//background: red;
      	font-size: 85%;
        //border: 2px solid orange;     
    }
    
    .wrap-all,
	.fixed-top,	
	.site-content,
	#colop {
    	min-width: 100% !important;
        //border: 1px solid blue;
      	padding: 0;
    }
    
    .container {
    	padding: 0;
    }
    
    .site-header h1 {
        margin: 0.1em 0 0 0.4em;
    }
    .site-header h1 img {
        width: 200px;
    }
    .head-center {
        width: 70px;
        margin: auto;
    }
	.head-navi {
        top: 1.7em;
		right: 1.0em;
    }
	.s-form {
    	top: 2.4em;
    	right: 8%;
	}
    .s-form input {
    	font-size: 0.9em;
    }
    
    
    .main-navi > ul > li > span {
    	font-size: 0.75em;
        line-height: 3.2em;
    }
    
    .card-header {
    	font-size: 1.5em;
    }
    
    .img-box {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    .top .img-box {
        height: 195px;
    }
    
    
    .carousel-item {
		height: 420px;
    }
    .single .head-frame h2 {
    	font-size: 1.4em;
    }
    
    #colop {
    	padding-top: 2em;
    }
    .foot-menu {
    	width: 48%;
        margin-left: 1.5%;
    }
    .foot-company {
        width: 47%;
        margin-right: 1%;
    }
    
}	

@media only screen and (max-width: 800px) { /* iPad */
	body {
    	//font-size: 13px;
    }
    
}

/* iPhone6+ LandScape/ 6 LandScape/ 5s LandScape(570px) */
@media only screen and (max-width: 750px) {
	
    body {
    	font-size: 0.9em;
        min-width: 100%  !important;
        width: 100%;
    }
    
    .wrap-all,
	.fixed-top,	
	.site-content,
	#colop {
    	min-width: 100%  !important;
    	width: 100%;
        //border: 3px solid blue;
      	padding: 0;
    }
    .archive,
    .fix-page {
        float: none;
        width: 100%;
        //border: 1px solid red;
    }
    #left-bar {
        float: none;
        width: 92%;
        margin: 5em auto 0;
        //border: 1px solid orange;
    }
    
    
    .wrap-all {
        margin-top: 9em;
        //border: 1px solid orange;
    }
    .wrap-all .home {
        margin-top: 0;
    }
    
    .telephone {
    	background: #2a2a2a;
        font-size: 1.2em;
        color: #fff;
        text-align: center;
        padding: 0.35em 0;
    }
    .telephone a {
    	display: block;
        width: 100%;
        height: 100%;
    }
    .telephone a,
    .telephone .fas {
    	color: #fff;
    }
    .telephone .fas {
    	font-size: 1.3em;
        vertical-align: -1px;
    }
	.site-header {
		position: relative;
        padding: 0.5em 0.2em 2.7em;
        border-bottom: 1px solid #bbb;
        border-top: 0;
	}
	

	.site-header .logos {
  		width: 62%;
        margin: 0 auto 0.3em;
        padding: 0 0 0 0.2em;
        //height: 10em;
	}
    .site-header h1 {
    	margin: 0 0 3px;
        padding: 0;
        line-height: 0;
    }
    .site-header h1 a {
    	display: inline-block;
    }
    .site-header .logos h1 img:first-of-type {
		float: none;
  		width: 74%;
        margin-top: 1px;
        margin-left: 0.2em;
    	//border: 1px solid red;          
	}
    .site-header .logos h1 img:last-of-type {
		float: none;
  		width: 15%;
        margin-top: 0;
        margin-left: -0.2em;
    	//border: 1px solid red;          
	}
    
    .nav-tgl {
    	width: 1.9em;
        padding: 0.2em 0.2em 0.2em 0.3em;
        //border: 1px solid red;
		position: absolute;
        top: 45%;
        left: 1.8%;
        font-size: 1.8em;
        color: #333;
    }
    
    
    .s-form {
        position: static;
        margin-right: 0.5em;
        //border: 1px solid red;
    }
    .s-form input {
        background: #3a3a3a;
        color: #fff;
        border-radius: 1.5em;
        border: none;
        width: 0;
        //position: relative;
        //z-index: 9;
        display: none;
        opacity: 0;
        padding: 0.3em 0.8em;
    }
    
    
    .head-navi {
    	top: 53%;
        right: 1em;
        //color: #231815;
    }
    .head-navi li:last-of-type {
    	margin-right: 0;
    }
    .head-navi li a {
    	color: #3f3f3f;
    }
    
    .fade-black {
    	width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9998;
        background: rgba(0,0,0,0.7);
        display: none;
    }
    .fade-black .nav-tgl {
		position: absolute;
        top: 0.1em;
        left: 85%;
        color: #fff;
        font-size: 2em;
        z-index: 10000;
    }
    
    .main-navigation {
    	display: none;
        padding: 1em 0.3em;
        margin: 0;
        position: absolute;
        top: 0;
        left: -200px;
        z-index: 9999;
        width: 83%;
        //background: rgba(0,0,0,0.7);
    }
    .main-navigation .navi-body {
		overflow-y: scroll;
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    }
   
    .main-navigation ul {
    	width: 98%;
        margin: 0 auto;
        padding: 0;
        border: none;
    }
    .main-navigation li {
    	float: none;
    	width: 100%;
    }
    .main-navigation a {
    	padding: 0;
    }
    
    .drops {
    	position: static;
        display: block;
        padding: 0.5em;
        margin-bottom: 1.3em;
        border: 0;
    }
    .drops ul li{
    	margin-left: 1.5em;
    }
    .drops > div:first-of-type,
    .drops > div:last-of-type {
        width: 100%;
        float: none;
    }
    .drops > div:first-of-type div {
        width: 100%;
        float: none;
        margin-right: 1em;
    }
    .drops > div:first-of-type ul {
        width: 100%;
        padding: 0;
        margin: 1em 0 0;
    }

    .drops > div:last-of-type {
    	margin-top: 2em;
    }
    .drops > div:last-of-type > h3 {
    	font-size: 1em;
    }
    .drops > div:last-of-type > div {
        width: 30%;
        font-size: 0.9em;
        line-height: 1.3em;
        margin-right: 0.6em;
    }
    .drops > div:last-of-type img {
        width: 100%;
        height: 120px;
    }
    
    
    .menu-title {
        display: block;
        border-bottom: 1px solid #aaa;
    }
    
    
    
    /* Shop */
    #guide br {
    	display: block;
    }
    .table-custom .table {
    	table-layout: fixed;
    }
    .table-custom .table tbody th,
    .table-custom .table tbody td {
    	display: block;
    	float: none;
        width: 100%;
        //border: 1px solid red;
    }
    .single .table-custom .table tbody th,
    .single .table-custom .table tbody td { /* Single 送料表の部分 */
    	display: inline-block;
        width: 40%;
    }
    .single .table-custom .table tbody td {
    	width: 60%;
    }
    
    .confirm .table-custom .table tbody th,
    .confirm .table-custom.show-price .table tbody th { /* shop confirm -> Price の部分*/
    	display: block;
		width: 100%;
    }
    
    .table-custom .table tbody th {
    	padding: 0.4em 0.6em 0;
        vertical-align: middle;
    }
    .table-custom .table select {
    	width: 85%;
        margin-bottom: 0.8em;
    }
    
    .table-cart .table {
        width: 100%;
        font-size: 0.9em;
        table-layout: fixed;
    }
    .table-cart .table td img.img-fluid {
        float: none;
        display: block;
        margin-right: 0;
    }
   	.table-cart .table thead th {
   		font-size: 0.9em;
   	}
   	.table-cart .table thead th:first-of-type {
    	width: 30% !important;
    }
    .table-cart .table thead th:nth-of-type(2) {
    	width: 25%;
    }
    .table-cart .table thead th:nth-of-type(3) {
    	width: 30%;
    }
    .table-cart .table thead th:nth-of-type(4) {
    	width: 25%;
    }
    .table-cart .btn {
    	font-size: 0.9em;
    }
    
    .mypage .table-responsive.table-cart {
    	overflow: scroll;
        //border: 1px solid red;
        width: 100%;
    }
    .mypage .table-cart .table td img.img-fluid {
        margin-right: 0.5em;
    }
/*    .table-responsive {*/
/*      display: block;*/
/*      width: 150%;*/
/*      overflow-x: scroll;*/
/*      -webkit-overflow-scrolling: touch;*/
/*      -ms-overflow-style: -ms-autohiding-scrollbar;*/
/*    }*/
    .mypage .table-responsive.table-cart .table {
    	width: 250% !important;
        max-width: 250%;
        //overflow: scroll;
    }
    .mypage .table-cart .table thead th:first-of-type {
    	width: 15% !important;
    }
    .mypage .table-cart .table thead th:nth-of-type(2) {
    	width: 35%;
    }
    .mypage .table-cart .table thead th:nth-of-type(3) {
    	width: 5%;
    }
    .mypage .table-cart .table thead th:nth-of-type(4) {
    	width: 15%;
    }
    .mypage .table-cart .table thead th:nth-of-type(5) {
    	width: 15%;
    }
    .mypage .table-cart .table thead th:nth-of-type(6) {
    	width: 15%;
    }
    
    
	
    
	div.tel-sp {
		display: block;
		float: right;
        width: 100%;
        margin: 0;
        padding: 0.4em 0;
        background: #333;
        color: #fff;   
        font-size: 1.4em;         
    }
    div.tel-sp a {
    	color: #fff;
    }
    
    .comp-info {
    	padding-left: 1em;
    }
    .comp-info div {
        display: none;
    }
    .comp-info .fab {
        font-size: 2.7em;
        margin: 0.2em 0.1em 0 0;
    }
    
    .site-description {
    	width: 100%;
     	background: none;  
      	border: none;     
     	//float: right;   
    }
    

	.img-box {
        height: 275px;
        //height: calc(100% * 1.2);
        overflow: hidden;
    }
    .top .img-box,
    .archive .img-box {
        height: 275px;
        overflow: hidden;
    }
    
    .wrap-all,
    .wrap-all .home {
    	padding-left: 1.6%;
        padding-right: 1.5%;
        padding-top: 0;
        //border: 2px solid red;
    }
    
    .head-atcl h2 {
    	font-size: 1.3em;
        text-align: left;
        padding-left: 0.2em;
    }
    .main-atcl,
    .top .main-atcl {
		float: left;
  		width: 48.7%;
        margin-right: 1.8%;
	}
    .main-atcl:nth-of-type(3n) {
        margin-right: 1.4%;
    }
    .top .main-atcl:nth-of-type(6) {
        margin-right: 0;
    }
    .top .main-atcl:nth-of-type(4n) {
        margin-right: 0;
    }
    .main-atcl:nth-of-type(2n),
    .top .main-atcl:nth-of-type(2n) {
        margin-right: 0;
    }
    
    .wrap-atcl > a.btn {
        width: 100%;
    }
    
    .main-atcl h3 {
		font-size: 1.05em;
    }
    
    
    /* Single */
    .carousel-item {
        height: 545px;
        //border: 1px solid red;
    }
    .single .head-frame > div:first-of-type {
        padding-right: 1em;
        float: none;
    }
    .single .head-frame > div:last-of-type {
        padding-left: 1em;
        float: none;
        margin-top: 3em;
    }
    .floar ul li {
    	width: 32%;
    }
    .floar .img-box {
    	height: 175px;
        //border: 1px solid red;
    }
    
    .tab-content {
    	min-height: 300px;
    }
    .nav-tabs {
    	border-bottom: 0;
    }
    .nav-tabs .nav-link {
    	background: #333;
        color: #fff;
        margin-right: 1px;
    }
    .nav-tabs .nav-link.active {
    	background: none;
        color: #333;
        font-weight: bold;
        border-bottom-color: none;
/*        border-color: #333;*/
/*        border-width: 1px 1px 0;*/
    }
    #spCartBtn {
    	display: none;
    	position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10001;
        font-size: 1.2em;
        padding: 0.4em 0;
    }
    
    /* Fix page */
    .fix-page ul.triangle,
    .fix-page ol.triangle {
        margin-left: 0;
        padding-left: 1.4em;
    }
    .fix-page h3 {
		font-size: 1.6em;
    }
    .fix-page h4 {
		font-size: 1.3em;
    }
    .faq-cate li {
        float: none;
        margin: 0 1em 0.4em 0;
        padding: 0;
        cursor: pointer;
    }
    div[id*="accordion-"] h5 {
    	font-size: 0.75em;
    }
    
    
    /* Login */    
    .login {
        margin-top: 0;
    }
    .login > div {
        width: 100%;
        float: none;
    }
    .login > div:last-of-type {
        padding-left: 0;
        margin-top: 2em;
    }
    
    
    /* Footer */
    #colop .foot-wrap {
    	width: 95%;
        margin: auto;
    }
    .foot-menu {
    	float: none;
        width: 90%;
        margin: auto;
        font-size: 0.95em;
    }
    .foot-menu ul {
    	float: none;
        width: 100%;
        margin-left: 3%;
    }
    .foot-menu ul:last-of-type {
    	margin-top: 1em;
    }
    .foot-company {
    	float: none;
        width: 88%;
        margin: 2em auto 1em;
    }
    
    
    
    /* ******** */
    #menuButton {
      display: block;
      width: 38px;
      height: 35px;
      float: left;
      margin: 0 0 0 3%;
      position: absolute;
      top: 11px;
      left: 1%;
      text-decoration: none;
      //border: 1px solid red;
    }
    #menuButton span {
      display: block;
      background: #333;
      width: 28px;
      height: 3px;
      position: absolute;
      left: 0;
/*      transition: all 0.4s;*/
/*      -webkit-transition: all 0.4s;*/
/*      -moz-transition: all 0.4s;*/
    }
    #menuButton em {
    	display: block;
    	font-style: normal;
        position: absolute;
        bottom: 3px;
        left: 2px;
        font-size: 0.8em;
    }
    #menuButton span:first-child {
    	top: 5px;
    }
    #menuButton span:nth-child(2) {
    	top: 14px;
    }
    #menuButton span:last-child {
    	top: 23px;
    }
	
}

@media only screen and (max-width: 500px) { /* Portlait: iPhone6+ /6/ 5s */



}
@media only screen and (max-width: 400px) { /* 6 */
	
}

@media only screen and (max-width: 320px) { /* 5s */
	body {
    	font-size: 11px;
    }
    .site-branding h1 img {
		width: 85%;
    }

}



